<div class="container-fluid equipo ">
    <h1 class="h1" id="equipo">DESARROLLADORES</h1>
    <div class="row alin">
        <!-- integrante 1 -->
        <div class="col-md-6 text-center">
            <div class="modal-bootstrap">
                <div class="modal-area-button">
                    <a class="Primary mg-b-10" href="#" data-toggle="modal" data-target="#castro">
                        <h3 class="equipoN">Alexandra Castro </h3>
                        <img  class="avatar" src="../../../assets/img/fotoAle.png">
                        <h3 class="equipoN">DESARROLLADORA FRONT-END </h3>
                    </a>
                </div>
            </div>
        </div>
        <!-- integrante 2 -->
        <div class="col-md-6 text-center">
            <div class="modal-bootstrap">
                <div class="modal-area-button">
                    <a class="Primary mg-b-10" href="#" data-toggle="modal" data-target="#hoyos">
                        <h3 class="equipoN">VictorHoyos</h3>
                        <img class="avatar" src="../../../assets/img/victor.png">
                        <h3 class="equipoN">DESARROLLADOR BACK-END </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Alexandra Castro Clavijo -->
<div id="castro" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-1">
                <h4 class="modal-title">Alexandra Castro Clavijo</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-check modal-check-pro"></i>
                <img class="avatar" src="../../../assets/img/fotoAle.png">
                <h4>Tecnologa ADSI</h4>
                <p>Analista de sistemas, bases de datos, programadora PHP, HTML5, Bootstrap 4, desarrolladora encargada del FROND-END de aplicación y colaboración en el BACK-END de la misma.<br>
                <b> Contacto</b><br>
                Email: jacastro9087@misena.edu.co<br>
                Email: laflacalex9@gmail.com<br>
                Cel:312 317 3124<br>
                </p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<!-- modal Victor Hoyos -->
<div id="hoyos" class="modal modal-adminpro-general fullwidth-popup-InformationproModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-2">
                <h4 class="modal-title">Victor Hoyos Sandobal</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="modal-body text-center">
                <img class="avatar" src="../../../assets/img/victor.png">
                <h4>Tecnologo ADSI</h4>
                <p>Analista y desarrollador con conocimientos de HTML y PHP, Encargado del BACK-END de la aplicacion. Lider de proyecto a cargo de la aplicaciòn.</p>
                <hr>
                <p><b>Contacto</b></p>
                <p>Email: victorhoyoscolombia@gmail.com <br>Celular: 313 8252764</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cerrar</a>
            </div>
        </div>
    </div>
</div>