<section class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="quienes" id="quehacemos">
                <h1 class="h1">
                    QUE HACEMOS
                </h1>
                <p>Optimizar sus servicios logisticos, monitoreando y controlando sus despachos, interactuando en tiempo real y generando reportes en la plataforma.
                </p>
            </div>
        </div>
        <!--Misión Visión columnas-->
        <div class="row">
            <div class="col-md-6">
                <div class="mision-vision">
                    <img src="../../../assets/img/mision.jpg" alt="imagen Misión">
                    <h1 class="h1">
                        MISIÓN
                    </h1>
                    <p>Somos un equipo de tecnológos dedicados al desarrollo de plataformas web a medida, ofreciendo soluciones  informáticas a ninel nacional.

                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mision-vision">
                    <img src="../../../assets/img/vision.png" alt="imagen Misión">
                    <h1 class="h1">
                        VISIÓN
                    </h1>
                    <p class="p">
                        Pretedemos estar el año 2022 a la vanguardia de los mejores proveedores de      desarrollos informáticos, ofreciendo sevicios en el mercado nacional, innovando de acuerdo a los cambios generados por los avances tecnológicos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
