<section class="container-fluid" >
    <h1 class="h1" id="servicios" >NUESTROS SERVICIOS</h1>
    <div class="row">
        <!--rol-->
        <div class="col-lg-6 text-center">
            <a class="btn " data-toggle="collapse" href="#rol" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h1 class="leter">Cargo Usuario</h1>
                <img class="tama" src="../../../assets/img/cargo.png" alt="imagen Misión"></a>
            <div class="collapse " id="rol">
                <div class="card card-body">
                <strong>
                    <p class=" p">La plataforma tendra diferentes cargos para los usuarios en los cuales se encuentran los siguientes: <br>1. Administrador es el encargado del sistema y tendra los permisos para el manejo de la plataforma. <br>2. El supervisor es el encargado de las solicitudes de los bodegueros y las rutas. <br>3. Bodeguero es el encargado de realizar solicitudes de los centro de acopio y bodega principal.</p>
                    </strong>
                </div>
            </div>
        </div>
        <!--solicitud-->
        <div class="col-lg-6 text-center">
            <a class="btn " data-toggle="collapse" href="#solicitud" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h1 class="leter">Solicitud de Pedidos</h1><img  class="tama" src="../../../assets/img/solicitud.png" alt="imagen Misión"></a>
            <div class="collapse " id="solicitud">
                <div class="card card-body">
                    <p><b>La solicitud de las rutas  es realizada apartir de pedidos de los centros de acopio, oficinas para el trasporte de mercancioa o de documentacion de la empresa, o de personal solicitado en diferentes puntos.</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Planeamiento-->
    <div class="row">
        <div class="col-lg-6 text-center">
            <a class="btn " data-toggle="collapse" href="#planeamiento" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h1 class="leter">Planeamiento</h1>
            <img class="tama" src="../../../assets/img/planeamiento.png" alt="imagen Misión"></a>
            <div class="collapse " id="planeamiento">
                <div class="card card-body">
                        <p>
                       <b> El planeamiento es realizado apartir de las solicitudes que se encuentren activas en la plataforma y asi el supervisor podra planear la logistica para que se cumplan a totalidad las solicitudes realizadas anteriormente.</b>
                        </p>
                </div>
            </div>
        </div>
    <!--rutas-->
        <div class="col-lg-6 text-center">
            <a class="btn " data-toggle="collapse" href="#ruta" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h1 class="leter">Rutas</h1>
            <img class="tama" src="../../../assets/img/rutas.png" alt="imagen Misión"></a>
            <div class="collapse " id="ruta">
                <div class="card card-body">
                    <strong>
                        <p>
                            Las rutas son planeadas de acuerdo a las solocitudes y son efectuadas dependiendo la cantidad de pedido que hay  en los centros de acopio de la empresa, este sera realizado por los contratistas o los vehículos de propiedad de la empresa .
                        </p>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</section><br>